<div class="container">
	<%= render 'layouts/customer_header' %>
	<div class="row">
		<%= link_to "商品新規登録", new_admin_item_path%>
		<h1 class="items_index_h1">商品一覧</h1>
		<div class="row">
			<% @items.each do |i|%>
			<% if i.is_active == '販売中' %>
			<div class="col-lg-4 item1">
				<table class="item_table">
						<tr>
							<td class="item_td"><%= attachment_image_tag i, :image, :fill, 60, 60, fallback: "", size:'100x100'%></td>
						</tr>
						<tr>
							<th>商品名</th>
							<% if customer_signed_in? %>
								<td class="item_td"><%= link_to i.name,  public_item_path(i.id)%></td>
							<% else %>
								<td class="item_td"><%= i.name %></td>
							<% end %>
						</tr>
						<tr>
							<th>税抜き価格</th>
							<td class="item_td"><%= i.price %>円</td>
						</tr>
						<tr>
							<th>ジャンル</th>
							<td class="item_td"><%= i.genre.name %></td>
						</tr>
			</table>
			<%= link_to "商品詳細", public_item_path(i.id), class: "btn btn-warning active"%>
				</div>
					<% end %>
				<% end %>
		</div>
	</div>
</div>